.manage{
    width: 100%;
    height: 100%;
}
.manage .operation{
    display: flex;
    position: absolute;
    top: 52px;
    width: 100%;
    height: calc(100vh - 50px);
}
.manage .operation .left{
    width: 13%;
    height: 100%;
}
.manage .operation .right{
    width: 86%;
    height: 100%;
}