<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lianwei.dao.OutHouseDao">
    <select id="findOutHouse" resultType="integer">
        <bind name="likeTime" value="time+'%'"/>
        select sum(num) sums from out_house
        where pro = #{pro} and time like #{likeTime} group by pro
    </select>
</mapper>