<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lianwei.dao.TransactionDao">
    <select id="findSend" resultType="TransactionDTO">
        <bind name="likeTime" value="time+'%'"/>
        select startPro,endPro,sum(num) sums from tran_logistics
        where time like #{likeTime} and startPro = #{pro} group by startPro,endPro
    </select>

    <select id="findDispatch" resultType="TransactionDTO">
        <bind name="likeTime" value="time+'%'"/>
        select startPro,endPro,sum(num) sums from tran_logistics
        where time like #{likeTime} and endPro = #{pro} group by startPro,endPro
    </select>
</mapper>